{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deconnexion</title>
    <h3>Vous êtes déconnecté de l'application Cyber-abonnement</h3>
    <a href="{% url 'login' %}">
        <button type="submit" class="btn btn-success">Reconnexion</button>
    </a>
</head>
<body>
    
</body>
</html>

{% endblock %}