{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>

<section class="section p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h5 class="text-center">LES CLIENTS</h5>
        <hr>
        <div class="card bg-light">
          <div class="card-body">
            <div class="container-fluid my-3">
              <a href="{% url 'ajout' %}" class="btn btn-primary btn-md mb-3">Ajouter un client</a>
              <form class="d-flex">
                <div class="input-group">
                  <input class="form-control" autocomplete="off" type="search" placeholder="Recherche de client"
                    name="item-name" aria-label="Search">
                  <button class="btn btn-primary btn-sm" type="submit">Chercher</button>
                </div>
              </form>
            </div>
          </div>

          <table class="table table-sm table-striped">
            <thead class="thead-dark">
              <tr>
                <th class="text-center">Nom</th>
                <th class="text-center">Prénom</th>
                <th class="text-center">Adresse</th>
                <th class="text-center">Opération</th>
              </tr>
            </thead>
            <tbody>
              {% for client in clients %}
              <tr>

                <th scope="row" class="text-center">{{ client.nom }}</th>
                <td class="text-center">{{ client.prenom }}</td>
                <td class="text-center">{{ client.addresse }}</td>
                <td class="text-center">
                  <a href="{% url 'client' client.id %}">
                    <button class="btn btn-sm btn-info" type="submit">Détail</button>
                  </a>
                  <a href="{% url 'modifier' client.id %}">
                    <button class="btn ted btn-sm btn-primary">Modifier</button>
                  </a>
                  <a href="{% url 'operation_ajout' client.id %}">
                    <button class="btn ted btn-sm btn-success">+ Activités</button>
                  </a>

                </td>

              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
      <div class="col-md-4">
        <h5 class="text-center">COMPATIBILITE JOURNALIER</h5>
        <h5 class="text-center">(En Ariary)</h5>
        <hr>
        <div class="card card-body">
          <table class="table table-sm">
            <thead class="thead-dark">
              <tr>
                <th class="text-center">TOTAL = </th>
                {% for total in totals %}
                <th>{{ total.rend }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="text-center">CAISSE = </th>
                {% for caisse in caisses %}
                <th class="text-success">{{ caisse.caissier }}</th>
                {% endfor %}
              </tr>
              <tr>
                <th class="text-center">DETTE = </th>
                {% for dette in dettes %}
                <th class="text-danger">{{ dette.dettier }}</th>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!-- <div class="row"> -->
    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <h5 class="text-center">LES OPERATIONS</h5>
        <hr>
        <div class="card card-body">
          <table class="table table-striped table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="text-center">Clients</th>
                <th scope="col" class="text-center">Activité</th>
                <th scope="col" class="text-center">Quantité</th>
                <th scope="col" class="text-center">Montant (Ar)</th>
                <th scope="col" class="text-center">Date d'opérations</th>
                <th scope="col" class="text-center">Status</th>

              </tr>
            </thead>

            <tbody>

              {% for operation in operations %}

              {% if operation.date_operation.date == date %}
              <tr>
                <th class="text-center">{{ operation.client.nom }}</th>
                <td class="text-center">{{ operation.activite.activite }}</td>
                <td class="text-center">{{ operation.quantite }}</td>
                <td class="text-center">{{ operation.Montant }}</td>
                <td class="text-center">{{ operation.date_operation }}</td>
                <td class="text-center">{{ operation.status }}</td>
              </tr>
              {% endif %}
              {% endfor %}
              <tr>
                <th class="text-center"></th>
                <td class="text-center"></td>
                <th class="text-center text-success"></th>
                <td class="text-center"></td>
                <th class="text-center text-danger"></th>
                <td class="text-center text-danger"></td>
                <th></th>
              </tr><br><br>
              <tr>
                <th class="text-center">TOTAL</th>
                <td class="text-center"></td>
                <td class="text-center"></td>
                {% for total in totals %}
                <th>{{ total.rend }}</th>
                {% endfor %}
                <td class="text-center"></td>
                <td class="text-center"></td>
                <th></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- </main>


  </body>

  </html> -->

{% endblock %}